
.container .stations{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
    width: auto;
    flex-grow: 1;
}
a{
    text-decoration: none;
    color:black;
    height:100px;
    width: 200px;
}