.trains{
    display: flex;
    align-items: flex-start; 
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.trains > a{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-left:10px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-style: solid;
    border-width: thin;
    border-radius: 25px
}

.seven{
    color: #B933AD;
    border-color: #B933AD;
}
.seven:hover{
    color:white;
    background-color: #B933AD;
}

.red-line{
    color:#EE352E;
}
.red-line:hover{
    color:white;
    background-color: #EE352E;
}

.green-line{
    color:#00933C;
}
.green-line:hover{
    color:white;
    background-color: #00933C;
}

.blue-line{
    color:#0039A6;
}
.blue-line:hover{
    color:white;
    background-color: #0039A6;
}

.yellow-line{
    color:#FCCC0A;
}
.yellow-line:hover{
    color:white;
    background-color: #FCCC0A;
}

.orange-line{
    color: #FF6319;
}
.orange-line:hover{
    color:white;
    background-color: #FF6319;
}

.brown-line{
    color: #996633;
}
.brown-line:hover{
    color:white;
    background-color: #996633;
}

.L-line{
    color:#808183;
}
.L-line:hover{
    color:white;
    background-color: #808183;
}

.G-line{
   color:#6CBE45;
}
.G-line:hover{
    color:white;
    background-color: #6CBE45;
}

